header {
  padding: 7px 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 993px) {
  header {
    padding: 0;
  }
}

header.active {
  background-color: #FAFBFC;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
}

@media screen and (min-width: 992px) {
  header.active .header-logo img {
    max-height: 90px;
  }
}

header .container {
  display: flex;
  align-items: center;
  height: 100%;
}

header .header-logo img {
  display: block;
}

@media screen and (min-width: 992px) {
  header .header-logo img {
    transition: max-height 0.4s ease-in-out;
    max-height: 148px;
  }
}

header .header-search {
  margin-left: auto;
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  header .header-search {
    margin-right: 40px;
  }
}

header .header-nav-link {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  header .header-nav-link {
    display: flex;
    align-items: center;
    width: auto;
    padding: 8px 22px 9px;
    border-radius: 21px;
    box-shadow: 0 0 23px rgba(0, 0, 0, 0.15);
    margin-right: 40px;
  }
}

header .header-nav-link img {
  transform: translateY(2px);
}

header .header-nav-link span {
  display: none;
}

.search-form {
  background-color: #ffffff;
  box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  input {
  margin-left: 5px;
  }
  
  button {
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 992px) {
  header .header-nav-link span {
    display: block;
    margin-right: 14px;
  }
}
