header {
  padding: 7px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .4s ease-in-out;
  z-index: 100;

  @media screen and(min-width: 993px) {
    padding: 0;
  }

  &.active {
    background-color: #FAFBFC;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);

    @media screen and(min-width: 992px) {
      .header-logo {
        img {
          max-height: 90px;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    @media screen and(min-width: 992px) {
      justify-content: unset;
    }
  }

  .header-logo {
    margin-right: 10px;

    img {
      display: block;
      @media screen and(min-width: 992px) {
        transition: max-height .4s ease-in-out;
        max-height: 148px;
      }
    }

    @media screen and(min-width: 992px) {
      margin-right: auto;
    }
  }

  .header-nav-link {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.23);
    margin-right: 10px;
    min-width: 35px;

    @media screen and(min-width: 992px) {
      display: flex;
      align-items: center;
      width: auto;
      padding: 8px 22px 9px;
      border-radius: 21px;
      box-shadow: 0 0 23px rgba(0, 0, 0, 0.15);
      margin-right: 40px;
      height: 45px;
    }

    img {
      transform: translateY(2px);
    }

    span {
      display: none;

      @media screen and(min-width: 992px) {
        display: block;
        margin-right: 14px;
      }
    }
  }
}