@import "./variables.scss";

.details-container {
  width: 90%;
  margin: auto;
  background-color: $bg-color-light;
  position: relative;
  z-index: 3;
    
  .movie-wrapper {
    .movie-img {
      margin:auto;
      max-width: 470px;
      img {
        @include for-mobile {
          width: 100%;
        }
        border-radius: 10px;
      }
    }
    .movie-details {
      h1 {
        font-family: $title;
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 5px;
      }
      .fav-raiting {
        display: flex;
        justify-content: flex-end;
        height: 25px;
        span {
          margin-right: 15px;
        }
      }
    .general-info{
      margin-top: 20px;
    }
    }
  }

  .hl {
    width: 100%;
    border-top: 2px solid $grey;
  }

  .genres {
    div {
      display: inline-block;
      border: 1px solid $yellow;
      background-color: $white;
      color: $black;
      padding: 5px;
      padding-left: 8px;
      padding-right: 8px;
      margin: 10px;
      border-radius: 17px;
      text-transform: lowercase;
    }
  }
  .description {
    padding: 5px;
  }
}

.dark-theme {
  background-color: $bg-color-dark;
  color: $white;
}

@include for-desktop {
  .movie-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    .movie-img {
      margin: auto;
      height: 600px;
      max-width: 470px;
      img {
        height:100%;
      }
    }
  }
}
