@import "../styles/variables.scss";

.delivery{
  margin: 50px auto 20px;
  max-width: 1200px;
  width: 100%;

  .delivery__toggler{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 10px;
    transform: rotate(0deg);
    transition: 1s;
    border-radius: 10px;
  }

  .rotate-btn{
    transform: rotate(90deg);
    transition: 1s;
  }

  .delivery__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
  .delivery__container-wide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .view-toggler{
  display: flex;
  justify-content:space-between;
  padding: 0 30px 0 40px;
  margin-bottom: 20px;
  align-items: center;

    img{
      transition: 1s;
    }
    .delivery__toggler{
      cursor: pointer;
    }
  }
}

.oops-favorite{
  text-align: center;
  margin: 0 auto;
  font-family: $main-font;
  font-size: $font-size-24-title-mobile;
  font-weight: bold;
}
.small-card-wrapper{
  margin: 15px;
}
