@import "../styles/variables.scss";

.delivery{
  margin: 50px auto 20px;
  max-width: 1200px;
  width: 100%;

  .delivery__toggler{
  width: 50px;
  height: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  margin: 10px;
  }

  .delivery__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
  .view-toggler{
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  margin-bottom: 20px;

    .delivery__toggler{
      cursor: pointer;
    }
  }
  
}
