@import "./variables";

.search-form {
  background-color: $white;
  box-shadow: $main-shadow;
  border-radius: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 10px;
  width: 100%;
  max-width: 365px;

  @media screen and (min-width: 992px) {
    margin-right: 40px;
    height: 45px;
  }

  > input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 45px;
    border-radius: inherit;

    @media screen and (min-width: 992px) {
      padding-left: 20px;

      &::-webkit-search-cancel-button {
        cursor: pointer;
      }
    }
  }

  .button-submit {
    box-shadow: $main-shadow;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    z-index: 2;
    overflow: hidden;

    @media screen and (min-width: 992px) {
      width: 45px;
      height: 45px;
    }

    img {
      position: absolute;
      right: 5px;
      bottom: 5px;
      width: 21px;
      height: 21px;

      @media screen and (min-width: 992px) {
        width: 28px;
        height: 28px;
      }
    }

    @media screen and (min-width: 992px) {
      cursor: pointer;
    }
  }

  .dropdown-filter {
    position: absolute;
    left: -40px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: $main-shadow;
    top: 50px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 7px;

    @media (min-width: 411px) {
      left: 0;
      width: 100%;
    }

    * {
      text-align: center;
    }

    .dropdown-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      padding: 15px;

      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .date-select-wrapper {
        grid-column: 1 / auto;
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;

        @media screen and (min-width: 992px) {
          grid-column: span 2 / auto;
          grid-template-columns: repeat(2, 1fr);
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }

        span {
          display: flex;
          justify-content: space-between;
          box-shadow: $secondary-shadow;
          border-radius: 35px;
        }

        button {
          font-weight: bold;
          color: $yellow;
          border-radius: 50%;
          border: 3px solid $yellow;
          cursor: pointer;
          width: 25px;
          height: 25px;
        }

        input {
          font-size: 16px;
          text-align: center;
          width: 60%;
          height: 100%;
        }
      }

      .check-img {
        width: 20px;
      }

      .active-checkbox {
        background-color: $yellow;
        color: $white;
      }

      .dropdown-item {
        height: 25px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 2px;
        align-items: center;
        box-shadow: $secondary-shadow;
        border-radius: 35px;
        font-size: 16px;
      }
      .dark-text {
        color: $black;
      }

      .custom-checkbox {
        display: none;
      }

      select {
        text-align-last: center;
        height: 25px;
        display: flex;
        justify-content: space-between;
        padding-right: 2px;
        align-items: center;
        box-shadow: $secondary-shadow;
        border-radius: 35px;
        font-size: 16px;

        @media screen and (min-width: 992px) {
          grid-column: 1 / -1;
        }
      }
    }
  }

  .search-field-message-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-field-message {
    background-color: $yellow;
    color: $alertMessageText;
    width: 100%;
    padding: 10px 2px;
    border-radius: 10px;
    margin-top: 7px;
  }
}
