@import "./styles/variables.scss";

* {
    padding: 0;
    margin: 0;
    background-color: unset;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: $bg-color-light;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#root {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 2140px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 993px) {
        padding: 0 60px;
    }
}

.wrapper-space{
    margin: 30px 0;
}

.main {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 90px 0 90px 0;

  @media screen and (min-width: 993px) {
    padding: 140px 0 140px 0;
  }
}
