* {
  padding: 0;
  margin: 0;
  background-color: unset;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: unset;
}

body {
  background-color: #FAFBFC;
  font-family: 'Heebo', sans-serif;
}

input {
  background-color: #fff;
}

.container {
  max-width: 2140px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and(min-width: 993px) {
  .container {
    padding: 0 60px;
  }
}
